@import "tailwindcss";

@theme {
  --color-primary: #1152d4;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-teal-accent: #0d9488;
  --color-rose-accent: #e11d48;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}
